<span style="display:block; text-align:center; font-weight:bold; font-size:larger;">SampleSuperstore</span>

Graduate Rotational Internship Program (**GRIP**) by **The Sparks Foundation**<br>
**Mohamed Khallaf**

# Data Accessing

In [1]:
import numpy as np
import pandas as pd
from IPython.display import Image, display

### Loading Data

In [2]:
df=pd.read_csv("SampleSuperstore.csv",sep=",")

### Data Overview

In [3]:
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1015.1+ KB

In [5]:
df[['Sales', 'Quantity', 'Discount', 'Profit']].describe()

              Sales     Quantity     Discount       Profit
count   9994.000000  9994.000000  9994.000000  9994.000000
mean     229.858001     3.789574     0.156203    28.656896
std      623.245101     2.225110     0.206452   234.260108
min        0.444000     1.000000     0.000000 -6599.978000
25%       17.280000     2.000000     0.000000     1.728750
50%       54.490000     3.000000     0.200000     8.666500
75%      209.940000     5.000000     0.200000    29.364000
max    22638.480000    14.000000     0.800000  8399.976000

# Data Wrangling:

### Data Assessment:

In [6]:
df.duplicated().sum()

17

In [7]:
df.isnull().sum().sum()

0

### Clean data

In [8]:
# Drop_Duplicates
df_new = df.drop_duplicates()

In [9]:
df_new.duplicated().sum()

0

### Data Saving

In [11]:
df_new.to_csv('CleanedSampleSuperstore.csv', index=False)

## Conclusions:

**Tip:** Through our operations(Data Wrangling,EDA), we were able to ask and answer some questions we posed and represent them graphically,<br>I came out with some very interesting facts. After this analysis we can conclude following:

Using this data, we were able to find out which States have Highest Sales an Profits & also Lowest Sales and Profits, and thus know the Where We should do more effort to increase sales and profits .

### Question 1

we asked about: Total sales & Total profits & Total Discount?<br>
we find that Total sales is (2.30M) , Total profits is (286.24k) & Total Discount is (1.56k)

### Question 2
we asked about :Highest Top 5 States in Sales?<br>
    To answer to this question we use Clasterd bar chart between State and sales column with Top N Filter we found that: <br>
**1st** Highest State in Sales Is calefornia by: 0.48 M<br>
**2st** Highest State in Sales Is New York  by: 0.31 M<br>
**3st** Highest State in Sales Is Texas by: 0.17 M Despite this, we found that it is one of the least profitable satates by -27.750K<br>
**4st** Highest State in Sales Is Washington by: 0.14 M<br>
**5st** Highest State in Sales Is Pennsylvania by: 0.12 M<br>

### Question 3
we asked about : Lowest Top 5 States in Sales?<br>
   To answer to this question we use Clasterd bar chart between State and sales column with Bottom N Filter we found that <br>
**1st** lowest State in Sales Is North Dakota by: 0.9 K<br>
**2st** lowest State in Sales Is West Virginia  by: 1.2 K<br>
**3st** lowest State in Sales Is Maine by: 1.3 K <br>
**4st** lowest State in Sales Is South Dakota by: 1.3 K <br>
**5st** lowest State in Sales Is Wyoming by: 1.6 K <br>

### Question 4

we asked about :Sales volume for categories versus profits?<br>
    To answer to this question we use Clasterd column chart between profits,sales & Category column we found that<br>
**1st** Highest Category in Sales Is *Technology* by: 0.84 M<br>
**2st** Highest Category in Sales Is *Furniture* by: 0.74 M<br>
Lowest Category in Sales Is Office *Supplies* by: 0.72 M<br>
<br>
**1st** Highest Category in profits Is *Technology* by: 0.15 M<br>
**2st** Highest Category in profits Is *Office Supplies* by: 0.12 M<br>
Lowest Category in profits Is *Furniture* by: 0.02 M<br>

### Question 5

we asked about :Total Profits per State?<br>
    To answer to this question we use Filled Map between State and sales column<br>
    we can see all details on map Total Profits , Total Sales &  also Total Discount<br>

### Question 6

we asked about :total sales by Region,State and city ?<br>
    To answer to this question we use Line chart between Region,State, city as a drilldown and sales column<br>
    we can see all details on line Chart Total Sales<br>
Highest Region in Sales Is West by: 0.73 M<br>
Lowest Region in Sales Is South by: 0.39 M<br>

### Question 7
we asked about : total sales and total profits by Ship mode?<br>
    To answer to this question we use Clasterd bar chart between State and sales column<br>
Highest Ship Mode in Sales & Profits Is Standard Class by Sales: 1.36M , Profits:164K<br>
Lowest Ship Mode in Sales & Profits Is Same Day by Sales: 0.13M , Profits:16K<br>

### Question 8
we asked about :total sales and total profits by Segmant?<br>
    To answer to this question we use Clasterd bar chart between State and sales column<br>
Highest Segment in Sales & Profits Is Technology by Sales: 1.16 M , Profits:134 K<br>
Lowest Segment in Sales & Profits Is Office Supplies by Sales: 0.43M , Profits:60K<br>

<span style="display:block; text-align:center; font-weight:bold; font-size:larger;">Thanks For Your time,Mohamed Khallaf </span>
<span style="display:block; text-align:center; font-weight:bold; font-size:larger;">Mohamed Khallaf </span>